table {
    border: 1px solid black;
    margin-left:10px;
    margin-right:10px;

}
th, td {
    border: 1px solid black;
    width:60px;
    text-align: center;
}

ul {
    list-style-type: none;
   }

.tr{
    color: deeppink;
    font-size:2rem ;
    text-align: center;
}

li{
    padding-left: 10px
}
h2{
    text-align: center;
}

.myb
{
    color: red;
}


.mycontainer
{
    max-width:25% ;
    min-width: 250px;
}

.mybtn{
      margin-bottom: 5px !important;
}
  

        .eacellcolor {
            background: greenyellow;
        }
        .sacellcolor {
            background: deepskyblue;
        }
        .wscellcolor {
            background: yellow;
        }
        .vtcellcolor {
            background: #fd25ff;
        }
        .tdformat{
            font-size: x-large;
            height: auto;
            width:auto;
        }
        .thformat{
            font-size: large;
            height: auto;

        }
        .inputwidth
        {
            border: 1px solid black !important;
            width:60px;
            text-align: center;
        }
     
        .marginBottom5
        {

            margin-bottom: 5px;

        }

        .divContainer
        {
            background-color: white;
            border-style: solid;
            padding : 10px;
            margin : 10px;
            border-radius: 8px;
        }

     

       