{% include "header.html" %}
<input type="hidden" id="dayinputhidden" value="{{ day }}" />
{% if user.is_authenticated %}
    <br>

    <div class="row">

        <div class="col-4" id="listoftutors"></div>

        <div class="col-4" style="text-align: center">
            <h1>Math Tutor Schedule</h1>
            <h2 id="daylbl"></h2>
        </div>

        <div  class="col-4" id="daybtns" >

            <input class="btn btn-primary mybtn" id="Mondaybtn" name="daybtn" type="button" value="Monday"/>
            <input class="btn btn-primary mybtn" id="Tuesdaybtn" name="daybtn" type="button" value="Tuesday"/>
            <input class="btn btn-primary mybtn" id="Wednesdaybtn"name="daybtn" type="button" value="Wednesday"/>
            <input class="btn btn-primary mybtn" id="Thursdaybtn" name="daybtn" type="button" value="Thursday"/>
            <input class="btn btn-primary mybtn" id="Fridaybtn" name="daybtn" type="button" value="Friday"/>
            <input class="btn btn-primary mybtn" id="Saturdaybtn" name="daybtn" type="button" value="Saturday"/>
            <input class="btn btn-primary mybtn" id="Sundaybtn" name="daybtn" type="button" value="Sunday"/>

        </div>

    </div>


    {% if day == "Friday"  %}
        <table align="center">
            <tbody name='tb'>
            <tr >
                <td>Name</td>
                <td>9:30</td>
                <td>10:00</td>
                <td>10:30</td>
                <td>11:00</td>
                <td>11:30</td>
                <td>12:00</td>
                <td>12:30</td>
                <td>1:00</td>
                <td>1:30</td>
                <td>2:00</td>
                <td>2:30</td>
                <td>3:00</td>
                <td>3:30</td>
                <td>4:00</td>

            </tr>
            {% for s, t in zip %}
                <tr>
                    {% block content %}
                        <td> {{ s.fname }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}> {{ s.t0930 }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1000 }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1030 }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1100 }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1130 }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1200 }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1230 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1300 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1330 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1400 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1430 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1500 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1530 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1600 }}</td>
                    {% endblock %}

                </tr>

                <br>
            {% endfor %}
            </tbody>
        </table>

    {% elif day == "Saturday"  %}
        <table align="center">
            <tbody name='tb'>
            <tr >
                <td>Name</td>

                <td>10:00</td>
                <td>10:30</td>
                <td>11:00</td>
                <td>11:30</td>
                <td>12:00</td>
                <td>12:30</td>
                <td>1:00</td>
                <td>1:30</td>
                <td>2:00</td>
                <td>2:30</td>
                <td>3:00</td>


            </tr>
            {% for s, t in zip %}
                <tr>
                    {% block content2 %}
                        <td> {{ s.fname }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1000 }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1030 }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1100 }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1130 }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1200 }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1230 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1300 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1330 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1400 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1430 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1500 }}</td>
                    {% endblock %}


                </tr>
                <br>
            {% endfor %}
            </tbody>
        </table>

    {% elif day == "Sunday"  %}
        <table align="center">
            <tbody name='tb'>
            <tr >
                <td>Name</td>


                <td>12:00</td>
                <td>12:30</td>
                <td>1:00</td>
                <td>1:30</td>
                <td>2:00</td>
                <td>2:30</td>
                <td>3:00</td>
                <td>3:30</td>
                <td>4:00</td>


            </tr>
            {% for s, t in zip %}
                <tr>
                    {% block content3 %}
                        <td> {{ s.fname }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1200 }}</td>
                        <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1230 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1300 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1330 }}</td>a
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1400 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1430 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1500 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1530 }}</td>
                        <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1600 }}</td>
                    {% endblock %}

                </tr>
                <br>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <table align="center">
            <tbody name='tb'>
            <tr >
                <td>Name</td>
                <td>9:30</td>
                <td>10:00</td>
                <td>10:30</td>
                <td>11:00</td>
                <td>11:30</td>
                <td>12:00</td>
                <td>12:30</td>
                <td>1:00</td>
                <td>1:30</td>
                <td>2:00</td>
                <td>2:30</td>
                <td>3:00</td>
                <td>3:30</td>
                <td>4:00</td>
                <td>4:30</td>
                <td>5:00</td>
                <td>5:30</td>
                <td>6:00</td>
                <td>6:30</td>
                <td>7:00</td>
                <td>7:30</td>
                <td>8:00</td>
                <td>8:30</td>
                <td>9:00</td>
            </tr>

            {% for s, t in zip %}
                <tr>
                  {% block content4 %}
                    <td> {{ s.fname }}</td>
                    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}> {{ s.t0930 }}</td>
                    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1000 }}</td>
                    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1030 }}</td>
                    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1100 }}</td>
                    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1130 }}</td>
                    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1200 }}</td>
                    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1230 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1300 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1330 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1400 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1430 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1500 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1530 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1600 }}</td>
                    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1630 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1700 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1730 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1800 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1830 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1900 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1930 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t2000 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t2030 }}</td>
                    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t2100 }}</td>
                    {% endblock %}

                </tr>
                <br>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br>

    <div class="row justify-content-start">
        <div class="col-2">
        </div>
        <div class="col-4">
            <input type="button" value="save schedule" onclick="saveAllSchedule()">
        </div>
    </div>



{% else %}

    <br>
    <br>
    <h2 class="tr" style="text-align: center">You are now logged out</h2>
    <br>
    <div class="container" style="text-align: center">

        <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
    </div>
{% endif %}

</body>
