<td name="delRow"><form action="/deleteRow" method="GET">
    <input type="hidden" value="{{ t.tutor.id }}" name="tutorId" size="1"/>
    <input type="hidden" value="{{ t.id }}" name="scheduleId" size="1"/>
    <input type="hidden" value="{{ s.id }}" name="timeTableId" size="1"/>
    <input type="hidden" value="{{ s.day }}" name="day" size="1"/>
    <input type="hidden" id="{{ s.tutor.firstname }}" name="usedHrs" value=""  size="1"/>
    <input type="submit" class="btn" value="Delete" name="delbtn">
</form></td>
