
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">ABC Tutoring Center</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/home">Home</a>
        <a class="p-2 text-dark" href="/location">Location</a>
           <a class="p-2 text-dark" href="/schedule2">View All Schedule</a>
        <a class="p-2 text-dark" href="/schedule/Monday">Tutor Shcedule</a>

{#        <a class="p-2 text-dark" href="/showSiBackupPlan/Monday">Math SI Bakcup Plan(Monday)</a>#}
        <a class="p-2 text-dark" href="/admin/">Admin</a>
    </nav>
     <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Math SI Bakcup Plan
                <span class="caret"></span></button>
            <ul class="dropdown-menu" style="padding-left: 10px;">
                 <li><a href="/showSiBackupPlan/alldays">All days</a></li>
                <li><a href="/showSiBackupPlan/Monday">Monday</a></li>
                <li><a href="/showSiBackupPlan/Tuesday">Tuesday</a></li>
                <li><a href="/showSiBackupPlan/Wednesday">Wednesday</a></li>
                <li><a href="/showSiBackupPlan/Thursday">Thursday</a></li>
            </ul>
        </div>
    <a style="margin-left: 10px" class="btn btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
</div>
