{% extends 'registration/login.html' %}
{% load staticfiles %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <h1>Availability</h1>
    <form method="POST" >
        {% csrf_token %}
        {{ form.as_p}}
    <button type="submit">Submit</button>
    </form>
    <h2>{{ text }}</h2>
    {#  <div align="center">#}
    {#<iframe width="640px" height= "480px" src= "https://forms.office.com/Pages/ResponsePage.aspx?id=ePidZ3onakmsjdmeWGBt2dcUBZwZjKpLpmZsbQC7FR9URFdKN1k2OVgxUUE5Rlc5Q1EwVTRPVUQzSC4u&embed=true" frameborder= "0" marginwidth= "0" marginheight= "0" style= "border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>#}
    {#  </div>#}
{% endblock %}
