{% extends 'registration/login.html' %}
{% load staticfiles %}

{% block head %}
    <title>Home</title>
{% endblock %}

{%  block script %}

      $(document).ready(function () {

            $('#id_tutor').on('change', function (){

                $('#id_form2-tutor').val($(this).val());
               $('#id_form-tutor').val($(this).val());
               // $('#id_form2-tutor').prop('disabled',true);
            });
            $('#id_form-tutor').hide();
            $('#id_form2-tutor').hide();
            $("#id_form-day").prop("readonly", true);
            $("#id_form2-day").prop("readonly", true);
            $('#id_form-day').val('Monday');
            $('#id_form2-day').val('Tuesday');
            {#$('#id_form-day').prop('disabled',true);#}
            {#$('#id_form2-day').prop('disabled',true);#}

        });
{% endblock %}

{% block body %}
     {% if user.is_authenticated %}
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11">
            <h1>Availability</h1>
            <form method="POST" >
                {% csrf_token %}
                {{ nameform.as_p}}
                 <div style="display:inline-block;">
                {{ form.as_p}}
                </div>
                 <div style="display:inline-block;">
                {{ form2.as_p}}
                </div>
                <button type="submit">Submit</button>
            </form>


            <h2>{{ text }}</h2>
            <h2>{{ day }}</h2>
            <h2>{{ from1}}</h2>
            <h2>{{ to1 }}</h2>
        </div>
    </div>

     {% else %}

     <br>
    <br>
    <h2 class="tr" style="text-align: center">You are now logged out</h2>
    <br>
    <div class="container" style="text-align: center">

        <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
    </div>

    {% endif %}
    {#  <div align="center">#}
    {#<iframe width="640px" height= "480px" src= "https://forms.office.com/Pages/ResponsePage.aspx?id=ePidZ3onakmsjdmeWGBt2dcUBZwZjKpLpmZsbQC7FR9URFdKN1k2OVgxUUE5Rlc5Q1EwVTRPVUQzSC4u&embed=true" frameborder= "0" marginwidth= "0" marginheight= "0" style= "border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>#}
    {#  </div>#}
{% endblock %}
