{% extends 'registration/login.html' %}
{% load staticfiles %}

{% block head %}
<!--needed to include js file-->
<script src="{% static 'myJs.js' %}"></script>
    <title>Home</title>
{% endblock %}

{%  block script %}

    $(document).ready(function () {


    $('#id_tutor').on('change', function (){

    $('#id_form2-tutor').val($(this).val());
    $('#id_form-tutor').val($(this).val());
    $('#id_form3-tutor').val($(this).val());
    $('#id_form4-tutor').val($(this).val());
    $('#id_form5-tutor').val($(this).val());
    $('#id_form6-tutor').val($(this).val());
    $('#id_form7-tutor').val($(this).val());

    });

    $('#id_form-tutor').hide();
    $('#id_form2-tutor').hide();
    $('#id_form3-tutor').hide();
    $('#id_form4-tutor').hide();
    $('#id_form5-tutor').hide();
    $('#id_form6-tutor').hide();
    $('#id_form7-tutor').hide();

    $("#id_form-day").prop("readonly", true);
    $("#id_form2-day").prop("readonly", true);
    $("#id_form3-day").prop("readonly", true);
    $("#id_form4-day").prop("readonly", true);
    $("#id_form5-day").prop("readonly", true);
    $("#id_form6-day").prop("readonly", true);
    $("#id_form7-day").prop("readonly", true);


    $('#id_form-day').val('Monday');
    $('#id_form2-day').val('Tuesday');
    $('#id_form3-day').val('Wednesday');
    $('#id_form4-day').val('Thursday');
    $('#id_form5-day').val('Friday');
    $('#id_form6-day').val('Saturday');
    $('#id_form7-day').val('Sunday');


    jQuery('select[id*="To1"]').css('margin-left', 20 + 'px');
    jQuery('select[id*="To2"]').css('margin-left', 20 + 'px');

    jQuery('select[id*="To1"]').on("change",validateTime);
    jQuery('select[id*="To2"]').on("change", validateTime);
    jQuery('select[id*="From1"]').on("change",validateTime2);
    jQuery('select[id*="From2"]').on("change",validateTime2);


    {#$('#id_form-day').prop('disabled',true);#}
    {#$('#id_form2-day').prop('disabled',true);#}

});
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="row" align="center">

            <div class="jumbotron" style="width:100%">
                <h1>Availability</h1>
                <form method="POST" >
                    {% csrf_token %}
                    <div>
                        <div style="display: inline-block">
                        {{ nameform.as_p}}
                        </div>
                        <button type="submit" style="display: inline-block" class="btn btn-success">Submit</button>
                    </div>
                    <br>
                    <div style="display:inline-block;">
                        {{ form.as_p}}
                    </div>
                    <div style="display:inline-block;">
                        {{ form2.as_p}}
                    </div>
                    <div style="display:inline-block;">
                        {{ form3.as_p}}
                    </div>
                    <div style="display:inline-block;">
                        {{ form4.as_p}}
                    </div>
                    <div style="display:inline-block;">
                        {{ form5.as_p}}
                    </div>
                    <div style="display:inline-block;">
                        {{ form6.as_p}}
                    </div>
                    <div style="display:inline-block;">
                        {{ form7.as_p}}
                    </div>

                </form>


                <h2>{{ text }}</h2>
                <h2>{{ day }}</h2>
                <h2>{{ from1}}</h2>
                <h2>{{ to1 }}</h2>
            </div>
        </div>

    {% else %}

        <br>
        <br>
        <h2 class="tr" style="text-align: center">You are now logged out</h2>
        <br>
        <div class="container" style="text-align: center">

            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
        </div>

    {% endif %}
    {#  <div align="center">#}
    {#<iframe width="640px" height= "480px" src= "https://forms.office.com/Pages/ResponsePage.aspx?id=ePidZ3onakmsjdmeWGBt2dcUBZwZjKpLpmZsbQC7FR9URFdKN1k2OVgxUUE5Rlc5Q1EwVTRPVUQzSC4u&embed=true" frameborder= "0" marginwidth= "0" marginheight= "0" style= "border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>#}
    {#  </div>#}
{% endblock %}
