{% extends 'base.html' %}

{% block head %}
    <title>Location</title>
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1>Whre we are located at:</h1>
        <h3>750 Chase Pkwy, Waterbury, CT 06708</h3>
        <h3>Contact: 203-777-7777</h3>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2985.896757634327!2d-73.07508948442639!3d41.54983259387148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e7c1c4314dac23%3A0xdc295b5f39fb02cd!2sNaugatuck+Valley+Community+College!5e0!3m2!1sen!2sus!4v1543885286269" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

{% endblock %}

