{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Second Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'myJs.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var accumulatedHours = [];

        $(document).ready(function(){
            $("input.btn[value='Delete']").on("click", function(){var result = confirm("Do you want to delete " + this.name +" ?");
             if(result) return true;else return false;});
            $("td").not("td:empty").each(function(){

                if($(this).hasClass("EA"))
                {
                    $(this).addClass("eacellcolor");
                }
                else if ($(this).hasClass("SA"))
                {
                    $(this).addClass("sacellcolor");
                }
                else if ($(this).hasClass("Work"))
                {
                    $(this).addClass("wscellcolor");
                }
                else if ($(this).hasClass("Volunteer"))
                {
                    $(this).addClass("vtcellcolor");
                }
            });



            var day =  $('#dayinputhidden').val();
            $('#daylbl').text(day);
            if(day !='')
            {showScheduleByDay(day);}

            $('input[name="daybtn"]').on('click',function (){
                var day1=  $(this).val();
                day1 = "/schedule/" + day1;
                window.location.href= day1;

            });

        });
        {% block script %}
            function showScheduleByDay(dayofshift) {
                var URL="/allTutorsNames/";
                URL = URL+ dayofshift ;
                $.ajax({
                    type: "GET",
                    url: URL,
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {
                        console.log(data);
                        makerows(data);

                    },

                    error: function () {

                        alert("wasn't succesful");

                    }
                });


            }


        {% endblock %}
    </script>


    <style type="text/css">

    </style>
</head>

<!-- body of the site -->
<body id="top">
{% include "header.html" %}
<input type="hidden" id="dayinputhidden" value="{{ day }}" />
{% if user.is_authenticated %}
    <br>

    <div class="row">

        <div class="col-4" id="listoftutors"></div>

        <div class="col-4" style="text-align: center">
            <h1>Math Tutor Schedule</h1>
            <h2 id="daylbl"></h2>
        </div>

        <div  class="col-4" id="daybtns" >

            <input class="btn btn-primary mybtn" id="Mondaybtn" name="daybtn" type="button" value="Monday"/>
            <input class="btn btn-primary mybtn" id="Tuesdaybtn" name="daybtn" type="button" value="Tuesday"/>
            <input class="btn btn-primary mybtn" id="Wednesdaybtn"name="daybtn" type="button" value="Wednesday"/>
            <input class="btn btn-primary mybtn" id="Thursdaybtn" name="daybtn" type="button" value="Thursday"/>
            <input class="btn btn-primary mybtn" id="Fridaybtn" name="daybtn" type="button" value="Friday"/>
            <input class="btn btn-primary mybtn" id="Saturdaybtn" name="daybtn" type="button" value="Saturday"/>
            <input class="btn btn-primary mybtn" id="Sundaybtn" name="daybtn" type="button" value="Sunday"/>

        </div>

    </div>


    {% if day == "Friday"  %}
        <table align="center">
            <tbody name='tb'>
            {% include "rowFridayTime.html" %}
            {% for s, t in zip %}
                <tr>
                    {% include "rowFriday.html" %}
                    {% include "deleteButtons.html" %}

                </tr>

                <br>
            {% endfor %}
            </tbody>
        </table>

    {% elif day == "Saturday"  %}
        <table align="center">
            <tbody name='tb'>
            {% include "rowSaturdayTime.html" %}
            {% for s, t in zip %}
                <tr>
                    {% include "rowSaturday.html" %}
                    {% include "deleteButtons.html" %}

                </tr>

                <br>
            {% endfor %}
            </tbody>
        </table>

    {% elif day == "Sunday"  %}
        <table align="center">
            <tbody name='tb'>
            {% include "rowsSundayTime.html" %}
            {% for s, t in zip %}
                <tr>
                    {% include "rowSunday.html" %}
                    {% include "deleteButtons.html" %}

                </tr>

                <br>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <table align="center">
            <tbody name='tb'>
            {% include "rowDuringWeekTime.html" %}
            {% for s, t in zip %}
                <tr>
                    {% include "rowDuringWeek.html" %}
                    {% include "deleteButtons.html" %}

                </tr>

                <br>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br>

    <div class="row justify-content-start">
        <div class="col-2">
        </div>
        <div class="col-4">
            <input type="button" value="save schedule" onclick="saveAllSchedule()">
        </div>
    </div>



{% else %}
    <br>
    <br>
    <h2 class="tr" style="text-align: center">You are now logged out</h2>
    <br>
    <div class="container" style="text-align: center">

        <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
    </div>
{% endif %}

</body>
</html>
