{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Second Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="myCss2.css">
    <script src="{% static 'myJs.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script type="text/javascript">



        $(document).ready(function(){
            /*
                        $('.cell').hover(function(){


                            var t2=0.0;
                            t2=  parseInt($(this).index())/2;

                            $('#sp1').text(t2);
                        });


            */


            $.ajax({
                type: "GET",
                url: "/allTutorsNames/",
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    /*for(i=0;i<data.length;i++)
                     {
                         tutors[i]= data[i].fields.firstname;
                         console.log(tutors[i]);

                     }*/
                    console.log(data);
                    makerows(data);
                },

                error: function () {

                    alert("wasn't succesful");

                }
            });




        });


        function makerows(tutors) {

            var setoftutors = tutors;
            var counter = 9;
            var rowcounter = 0;
            var content = " <table><tbody name='tb'>"
            content += '<div><tr>'
            for (s = 8; s < 33; s++) {

                if (s > 8) {

                    if (s % 2 == 0) {
                        counter++;
                        if(counter==13){
                            counter=1;
                        }

                        content += '<th class="thformat">' + counter + ': 00' + '</th>'

                    } else {
                        content += '<th class="thformat">' + counter + ': 30' + '</th>'
                    }
                } else {
                    content += '<th class="thformat">' + '&nbsp' + '</th>'
                }

            }

            content += '</div></tr>';

            for (i = 0; i < setoftutors.length; i++) {
                content += '<tr name="rowtest">'
                for (s = 0; s < 25; s++) {

                    if (s == 0) {
                        {#var str = setoftutors[i].fields.tutor ;#}
                        {#var partsOfStr = str.split(',');#}
                        content += '<td class="tdformat">' + setoftutors[i].fields.tutor[0] + '</td>'
                        {#content += '<td class="tdformat">' +partsOfStr + '</td>'#}
                        rowcounter++
                    } else {
                        if(setoftutors[i].fields.tutor[1] == 'EA')
                        { content += '<td class="tdformat" name="eacell" >' + '&nbsp' + '</td>'}
                        else if (setoftutors[i].fields.tutor[1] == 'SA')
                        {
                            content += '<td class="tdformat"  name="sacell" >' + '&nbsp' + '</td>'
                        }
                        else
                        {
                            content += '<td class="tdformat"  name="workstudy" >' + '&nbsp' + '</td>'
                        }
                    }

                }
                content += '</tr>';
            }

            content += "<tbody>" + "</table>"
            $('#here_table').append(content);

            togglecells("td[name=eacell]","eacellcolor");
            togglecells( "td[name=sacell]","sacellcolor");
            togglecells( "td[name=workstudy]","wscellcolor");

            var name;
            var hours;
            var listoftutors ='<ul>'
            listoftutors += '<div>'
            for (s = 0; s < setoftutors.length ; s++) {

                name= setoftutors[s].fields.tutor[0];
                hours = setoftutors[s].fields.tutor[2];
                {#listoftutors += '<li>' + name + ' ' + hours + ' hours'+ '</li>'#}
                listoftutors += '<li>' + name + ' <span id='+ name + '></span> Hours Left</li>'
            }

            listoftutors += '</div></ul>';
            $('#listoftutors').append(listoftutors);



            $('tr').mouseleave(function() {
                var t = 12.0;
                var t2 = 15.0;
                var t3 =17;
                t = t - $('.wscellcolor').length*.5;
                t2= t2-  $('.sacellcolor').length*.5;
                t3 = t3 - $('.eacellcolor').length*.5;
                $('#Joe').text(t);
                $('#Alisha').text(t2);
                $('#Emma').text(t3);

            });


        }

    </script>


    <style type="text/css">
        table {
            border: 1px solid black;

        }
        th, td {
            border: 1px solid black;
            width:60px;
            text-align: center;
        }
        .eacellcolor {
            background: greenyellow;
        }
        .sacellcolor {
            background: deepskyblue;
        }
        .wscellcolor {
            background: yellow;
        }
        .tdformat{
            font-size: x-large;
            height: auto;
            width:auto;
        }
        .thformat{
            font-size: large;
            height: auto;

        }



    </style>
</head>

<!-- body of the site -->
<body id="top">

<br>
<br>
<div  style="text-align: center;">
    <div style="font-size: large" align='left' id="listoftutors"></div>
    <h1>Math Tutor Schedule</h1>
    <h3>Monday</h3>
</div>
<br>

<div align='center' id="here_table"></div>





</body>
</html>
