

    <td> {{ s.fname }}</td>
    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}> {{ s.t0930 }}</td>
    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1000 }}</td>
    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1030 }}</td>
    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1100 }}</td>
    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1130 }}</td>
    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1200 }}</td>
    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1230 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1300 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1330 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1400 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1430 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1500 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1530 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1600 }}</td>
    <td  name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1630 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1700 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1730 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1800 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1830 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1900 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t1930 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t2000 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t2030 }}</td>
    <td name={{ s.tutor.firstname }} class={{ s.tutor.typeofstaff }}>{{ s.t2100 }}</td>
