{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('a.popup').click(function(e) {
                e.preventDefault();
            });
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
            $( "h3" ).addClass( "display-5" );
            $( "table" ).addClass( "table table-striped  table-sm" );

            var t= $('td[name=backup], td[name=sileader]');

            for(i=1;i<t.length;i=i+2){
                var txt=t[i].innerText;
                if(txt  == '')
                {
                    $(t[i-1]).css("color","red");
                    $(t[i]).text("No Backup");
                    $(t[i]).css("color","red");
                }

            }
        });
    </script>

    <script>

        function setGetParameter(){
            var search_word = $("#search").val();
            $.ajax({
                type: "POST",
                url: {% url 'showSiBakcupbyTutor' %},
                data: search_word,
                success: function(result){
                    alert("Success");
                }
            });
        }
    </script>

    <style>
        .table{

            width: 90%;
        }
        td{ width :auto;
            height:auto;
            padding:5px;

        }
        th{
            width :auto;
            height:auto;
            font-size: large;
        {#padding:5px;#}
            text-align: center;
        }
        .popup{

        }
        h3,h4{text-align:center;}
        h4{ font-size: large;font-weight: bold}
        select{
            width: auto !important;
            display: inline-block !important;
        }
    </style>
</head>

<body>
{% include "header.html" %}

{% if user.is_authenticated %}
    <h3 >Math SI Backup Plan</h3>
    <h4 >Monday</h4>

    <div align=right style="padding-right: 10%">
        <form action="{% url 'showSiBakcupbyTutor' %}" method="post">
            {% csrf_token %}
            Name:  <select class="form-control" name="search">
            <option value="">---------</option>
            {% for t in ti %}
                <option name="search" value="{{ t.firstname }}" >{{ t.firstname}}</option>

            {% endfor %}

        </select>
            Day: <select class="form-control" name="search2">
            <option value="">---------</option>
            <option  name="search2" value="Monday">Monday</option>
            <option  name="search2" value="Tuesday">Tuesday</option>
            <option  name="search2" value="Wednesday">Wednesday</option>
            <option  name="search2" value="Thursday">Thursday</option>
        </select>

            <input class="btn btn-primary" type="submit" value="submit">
        </form>
        <h1>{{ tutorInfo }}</h1>
    </div>

    <br>
    <div class="table-responsive">
        <table align="center" >
            <tr >
                <td>SI Leader</td>
                <td>Backup</td>
                <td>Room</td>
                <td>From</td>
                <td>To</td>
                <td>Professor</td>
                <td>CRN</td>
                <td>Notes</td>
                <td>Floor</td>
            </tr>

            {% for day in monday %}

                <tr>
                    <td name="sileader"> <a   data-html="true" class="popup" href="#" data-toggle="popover" title="Tutor Info"
                                              data-content="{{day.tutor.firstname}} {{day.tutor.lastname}}: {{day.tutor.type}}
                     <br>Subject1: {{day.tutor.subject1}}
                     <br>Subject2: {{day.tutor.subject2}}" >{{day.tutor.firstname}}</a> </td>
                    {#              <td name="sileader"> <a href="/{{ day.tutor.id }}/tutor" data-toggle="tooltip" title="{{day.tutor.subject1}} Tutor">{{day.tutor.firstname}}</a>  </td>#}
                    <td name="backup"> {{day.backup}}  </td>
                    <td> {{day.room}}  </td>
                    <td> {{day.sessionTime_from}} </td>
                    <td> {{day.sessionTime_to}} </td>
                    <td> {{day.professor}} </td>
                    <td> {{day.crn}} </td>
                    <td> {{day.notes}} </td>
                    <td> {{day.floor}} </td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="9">Tuesday</th>
            </tr>


            {% for day in tuesday %}
                <tr>
                    <td name="sileader"> <a   data-html="true" class="popup" href="#" data-toggle="popover" title="Tutor Info"
                                              data-content="{{day.tutor.firstname}} {{day.tutor.lastname}}: {{day.tutor.type}}
                     <br>Subject1: {{day.tutor.subject1}}
                     <br>Subject2: {{day.tutor.subject2}}" >{{day.tutor.firstname}}</a> </td>
                    <td name="backup"> {{day.backup}}  </td>
                    <td> {{day.room}}  </td>
                    <td> {{day.sessionTime_from}} </td>
                    <td> {{day.sessionTime_to}} </td>
                    <td> {{day.professor}} </td>
                    <td> {{day.crn}} </td>
                    <td> {{day.notes}} </td>
                    <td> {{day.floor}} </td>
                </tr>
            {% endfor %}
            <tr>

                <th colspan="9">Wednesday</th>
            </tr>
            {% for day in wednesday %}
                <tr>

                    <td name="sileader"> <a   data-html="true" class="popup" href="#" data-toggle="popover" title="Tutor Info"
                                              data-content="{{day.tutor.firstname}} {{day.tutor.lastname}}: {{day.tutor.type}}
                     <br>Subject1: {{day.tutor.subject1}}
                     <br>Subject2: {{day.tutor.subject2}}" >{{day.tutor.firstname}}</a> </td>
                    <td name="backup"> {{day.backup}}  </td>
                    <td> {{day.room}}  </td>
                    <td> {{day.sessionTime_from}} </td>
                    <td> {{day.sessionTime_to}} </td>
                    <td> {{day.professor}} </td>
                    <td> {{day.crn}} </td>
                    <td> {{day.notes}} </td>
                    <td> {{day.floor}} </td>
                </tr>
            {% endfor %}

            <tr>
                <th colspan="9">Thursday</th>

            </tr>


            {% for day in thursday %}
                <tr>
                    <td name="sileader"> <a   data-html="true" class="popup" href="#" data-toggle="popover" title="Tutor Info"
                                              data-content="{{day.tutor.firstname}} {{day.tutor.lastname}}: {{day.tutor.type}}
                     <br>Subject1: {{day.tutor.subject1}}
                     <br>Subject2: {{day.tutor.subject2}}" >{{day.tutor.firstname}}</a> </td>
                    <td name="backup"> {{day.backup}}  </td>
                    <td> {{day.room}}  </td>
                    <td> {{day.sessionTime_from}} </td>
                    <td> {{day.sessionTime_to}} </td>
                    <td> {{day.professor}} </td>
                    <td> {{day.crn}} </td>
                    <td> {{day.notes}} </td>
                    <td> {{day.floor}} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <h2 class="tr" style="text-align: center">You are now logged out</h2>
    <br>
    <div class="container" style="text-align: center">
        <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
    </div>
{% endif %}
</body>
</html>
