{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Second Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'myJs.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">


        $(document).ready(function(){

            $("td").not("td:empty").each(function(){

                if($(this).hasClass("EA"))
                {
                    $(this).addClass("eacellcolor");
                }
                else if ($(this).hasClass("SA"))
                {
                    $(this).addClass("sacellcolor");
                }
                else if ($(this).hasClass("Work"))
                {
                    $(this).addClass("wscellcolor");
                }
                else if ($(this).hasClass("Volunteer"))
                {
                    $(this).addClass("vtcellcolor");
                }
            });

        });

    </script>

    <style type="text/css">
    </style>

</head>

<!-- body of the site -->
<body id="top">
{% include "header.html" %}
<div>
    <div style="display: inline-block">
        <ul style="width: 200px; color: black;">
            <li class="eacellcolor">Green: EA</li>
            <li class="sacellcolor">Blue: SA</li>
            <li class="wscellcolor">Yellow: Work Study</li>
            <li class="vtcellcolor">Pink: Volunteer</li>
        </ul>
    </div>
    <div style="text-align: center; display:inline-block;padding-left: 50px;">
        <h1>Math Tutor Schedule</h1>
    </div>

</div>
<table align="center">
    <h2>Monday</h2>
    <tbody name='tb'>
    {% include "rowDuringWeekTime.html" %}

    {% for s in Monday %}

        <tr>
            {% include "rowDuringWeek.html" %}
        </tr>

    {% endfor %}
    </tbody>
</table>
<br>

<table align="center">
    <h2>Tuesday</h2>
    <tbody name='tb'>
    {% include "rowDuringWeekTime.html" %}
    {% for s in Tuesday %}

        <tr>
            {% include "rowDuringWeek.html" %}
        </tr>

    {% endfor %}
    </tbody>
</table>
<br>

<table align="center">
    <h2>Wednesday</h2>
    <tbody name='tb'>
    {% include "rowDuringWeekTime.html" %}
    {% for s in Wednesday %}

        <tr>
            {% include "rowDuringWeek.html" %}
        </tr>


    {% endfor %}
    </tbody>
</table>
<br>

<table align="center">
    <h2>Thursday</h2>
    <tbody name='tb'>
    {% include "rowDuringWeekTime.html" %}

    {% for s in Thursday %}

        <tr>
            {% include "rowDuringWeek.html" %}
        </tr>

    {% endfor %}
    </tbody>
</table>
<br>

<table align="center">
    <h2>Friday</h2>
    <tbody name='tb'>
    {% include "rowFridayTime.html" %}

    {% for s in Friday %}

        <tr>
            {% include "rowFriday.html" %}
        </tr>

    {% endfor %}
    </tbody>
</table>
<br>

<table align="center">
    <h2>Saturday</h2>
    <tbody name='tb'>
    {% include "rowSaturdayTime.html" %}

    {% for s in Saturday %}

        <tr>
            {% include "rowSaturday.html" %}

        </tr>

    {% endfor %}
    </tbody>
</table>
<br>

<table align="center">
    <h2>Sunday</h2>
    <tbody name='tb'>
    {% include "rowsSundayTime.html" %}

    {% for s in Sunday %}

        <tr>
            {% include "rowSunday.html" %}
        </tr>


    {% endfor %}
       <br>
    </tbody>
</table>
<br>

</body>
</html>


{##}
{#{% extends "mathSchedule.html" %}#}
{#{% block script %}#}
{#{% endblock %}#}
{#{% block content %}#}
{#    {{ block.super }}#}
{##}
{#{% endblock %}#}
{##}
{#{% block content1 %}#}
{##}
{# {{ block.super }}#}
{#{% endblock %}#}
{##}
{#{% block content2 %}#}
{#    {{ block.super }}#}
{##}
{#{% endblock %}#}
{##}
{#{% block content3 %}#}
{#    {{ block.super }}#}
{##}
{#{% endblock %}#}
