<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">


      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="#">Tutor Shcedule</a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="/showSiBackupPlan/">Math SI Bakcup Plan</a>
          </li>



          <li class="nav-item ">
            <a class="nav-link " href="/slotmachine/">Slot Machine</a>
          </li>

            <li class="nav-item ">
            <a class="nav-link" href="/admin/">Admin</a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="#">Profile</a>
          </li>



          <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">

          </li>
         </ul>

      </div>
    </nav>
